<canvas 
  ref:canvas class='canvas' width='{{width}}' height='{{height}}'>
</canvas>

<style>
  .canvas {
    margin-left: auto;
    margin-right: auto;
  }
</style>

<script>
import OrbitControls from 'three-orbitcontrols';
import { Scene, PerspectiveCamera, BufferGeometry, BufferAttribute, TextureLoader, ShaderMaterial, DoubleSide, Mesh, Color, WebGLRenderer, Vector3, Vertex, MeshBasicMaterial, Geometry, Face3, PlaneGeometry, Camera, Quaternion } from 'three';

const vertexShaderString = `
  uniform float unfolding_perc;
  uniform float shadeFlag;
  varying vec2 text_coord;
  varying float shading;

  void main () {
    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    float viewAspect = projectionMatrix[1][1] / projectionMatrix[0][0];
    vec4 plane_position = vec4((uv.x*2.0-1.0)/viewAspect, (uv.y*2.0-1.0), 0, 1);
    gl_Position = mix(gl_Position, plane_position, unfolding_perc);
    //not normalized on purpose to simulate the rotation
    shading = 1.0;
    if (shadeFlag > 0.5) {
      vec3 light_vector = mix(normalize(cameraPosition-position), normal, unfolding_perc);
      shading = dot(normal, light_vector);
    }
    text_coord = uv;
  }
`;
const fragmentShaderString = `
  uniform float unfolding_perc;
  uniform float opacity;
  varying vec2  text_coord;
  varying float shading;
  uniform sampler2D texture;

  void main() {
    gl_FragColor = texture2D(texture, text_coord);
    float ambient_light = 0.5;
    gl_FragColor.rgb *= shading*(1.-ambient_light) + ambient_light;
    gl_FragColor.a = opacity;
  }
`;

function ease(x) {
  x = Math.min(Math.max(x, 0.0), 1.0);
  return x*x*(3.0 - 2.0*x);
}


export default {
  oncreate() {
    const self = this;
    var { textureUrl, resources, width, height, camera} = this.get();
    const [positions, uvs, faces] = resources;

    const unfoldDuration  = 1500.0;
    const preFadeDuration = 200.0;
    const fadeInDuration  = 500.0;
    const cameraMoveDuration = 400.0;

    var scene, controls, material;
    var backgroundPlane;

    var unfolded = false;
    var animationStart = -unfoldDuration*10.0;
    var cameraAnimationStart = -cameraMoveDuration *10.;
    var startCameraLocation, endCameraLocation;

    this.frameRequested = false;

    if (!window.sharedRenderer) {
      const renderer = new WebGLRenderer({ antialias: true, alpha: true });
      //renderer.setPixelRatio(window.devicePixelRatio ? window.devicePixelRatio : 1);

      renderer.ensureSize = function(width, height) {
        var curSize = this.getSize();
        if (curSize.width < width || curSize.height < height) {
          this.setSize(Math.max(width, curSize.width),
                       Math.max(height, curSize.height));
        }
        this.setViewport( 0, 0, width, height );
        this.setScissor( 0, 0, width, height );
        this.setScissorTest( true );
      }
      window.sharedRenderer = renderer;

    }

    var renderer = window.sharedRenderer;
    var outputCanvas = this.refs.canvas;
    var outputContext = outputCanvas.getContext('2d', {alpha: true});

    init();

    function init() {
      scene = new Scene();

      if (!camera) {
        camera = new PerspectiveCamera(42, width / height, 0.1, 100);
        camera.position.z = 3.3;
      }

      var geometry = new BufferGeometry();
      geometry.addAttribute( 'position', new BufferAttribute(positions, 3 ) );
      geometry.addAttribute( 'uv', new BufferAttribute(uvs, 2) );
      geometry.setIndex(new BufferAttribute(faces, 1 ));
      geometry.computeVertexNormals();
      var texture = new TextureLoader().load(textureUrl, update);
      material = new ShaderMaterial( {
        uniforms: {
          unfolding_perc: { value: 0.0 },
          shadeFlag: { value: 1.0 },
          texture: { type: 't', value: texture },
          opacity: { value: 1.0},
        },
        side: DoubleSide,
        vertexShader: vertexShaderString,
        fragmentShader: fragmentShaderString
      });
      self.set({material: material});
      var mesh = new Mesh(geometry, material);
      scene.add(mesh);

      //SceneTexture draws the background texture
      var bgMaterial = material.clone();
      bgMaterial.uniforms.shadeFlag.value = 0.0;
      bgMaterial.uniforms.unfolding_perc.value = 1.0;
      bgMaterial.transparent = true;
      bgMaterial.uniforms.opacity.value = 0.5;

      backgroundPlane = new Mesh(
        new PlaneGeometry(1, 1, 0),
        bgMaterial
      );
      scene.add(backgroundPlane);

      controls = new OrbitControls( camera, outputCanvas );
      controls.enablePan = false;
      controls.enableZoom = true;
      controls.minDistance = 0.5;
      controls.maxDistance = 4;

      //render on change only
      controls.addEventListener('change', function() {
        // fold mesh back if the user interacts with the model
        self.set({unfoldFlag: false});
        update();
      });
    }

    function update() {
      self.fire('animate');
    }

    this._flyTo = function(position) {
      startCameraLocation = camera.position.clone();
      endCameraLocation = position;
      cameraAnimationStart = performance.now();
      update();
    }

    this.render = time => {
      this.frameRequested = false;

      const width = outputCanvas.width;
      const height = outputCanvas.height;
      renderer.ensureSize(width, height);

      if(time - cameraAnimationStart < cameraMoveDuration){
        //Forced camera movement
        var interpFactor = ease((time - cameraAnimationStart)/cameraMoveDuration);

        const lenghtStart = startCameraLocation.length();
        const lenghtEnd = endCameraLocation.length();

        var camVector = new Vector3().lerpVectors(
          startCameraLocation, endCameraLocation, interpFactor);
        const interpLength = lenghtStart * (1-interpFactor) + lenghtEnd * interpFactor;
        const parabolicTrj = (1-(interpFactor*2-1)*(interpFactor*2-1))*0.7;
        camVector.normalize();
        camVector.multiplyScalar(interpLength+parabolicTrj);
        camera.position.copy(camVector);
        update();
      }

      const unfoldFlag = self.get('unfoldFlag');
      if (unfolded != unfoldFlag) {
        unfolded = unfoldFlag;
        animationStart = time - Math.max(animationStart+unfoldDuration+preFadeDuration+fadeInDuration-time, 0.0);
      }
      var animationTime = (time-animationStart) / (unfoldDuration+preFadeDuration+fadeInDuration);
      var unfoldTime = (time-animationStart-(unfolded?0:fadeInDuration+preFadeDuration)) / unfoldDuration;
      var fadeInTime = (time-animationStart-(unfolded?unfoldDuration+preFadeDuration:0)) / fadeInDuration;
      if (animationTime < 1.0) {
        update();
      }
      //3D model
      var unfoldVal = ease(unfoldTime);
      unfoldVal = unfolded ? unfoldVal : 1.0 - unfoldVal;
      material.uniforms.unfolding_perc.value = unfoldVal;
      material.uniforms.shadeFlag.value = 1.0;

      //Background texture
      var fadeIndVal = ease(fadeInTime);
      fadeIndVal = unfolded ? fadeIndVal : 1.0 - fadeIndVal;
      backgroundPlane.material.uniforms.opacity.value = fadeIndVal;

      //Camera controls
      controls.update();
      renderer.render(scene, camera);

      // Copy rendered image from the shared GL canvas
      outputContext.clearRect(0, 0, width, height);
      outputContext.drawImage(renderer.domElement,
                              0, 0, width, height,
                              0, 0, width, height);
    }

    this.observe('textureUrl', textureUrl => {
      //A new texture is loaded
      const { material } = this.get();
      const texture = new TextureLoader().load(textureUrl, update);
      material.uniforms.texture.value = texture;
      backgroundPlane.material.uniforms.texture.value = texture;
    });

    this.observe('unfoldFlag', unfoldFlag => {
      update();
    });

    this.observe('width', width => {
      this.refs.canvas.width = width;
      this.refs.canvas.height = height;
      camera.aspect = width / height;
      camera.updateProjectionMatrix();
      update();
    });

    this.on('animate', event => {
      self.requestFrame();
    });

    update();
  },
  data() {
    return {
      textureUrl: null,
      width: 400,
      height: 400,
      shadedFlag: true,
      unfoldFlag: false,
    }
  },
  computed: {

  },
  methods: {
    requestFrame() {
      if (!this.frameRequested) {
        requestAnimationFrame(this.render);
        this.frameRequested = true;
      }
    },

    flyTo(position) {
      this._flyTo(position);
    }
  }
}
</script>
