<!doctype html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://distill.pub/template.v2.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<d-front-matter>
  <script type="text/json">{
  "title": "Differentiable Image Parameterizations",
  "description": "Examples of differentiable image parameterizations that allow solving previously intractable optimization tasks.",
  "authors": [
    {
      "author": "Alexander Mordvintsev",
      "authorURL": "https://znah.net/",
      "affiliation": "Google Research",
      "affiliationURL": "https://research.google.com/"
    }
  ]
  }</script>
</d-front-matter>

<d-title>
  <h1>Differentiable Image Parameterizations</h1>
</d-title>

<d-article>
  
  <nav>
    <!-- This TOC is for development and will be removed before publication. -->
    <style>
      d-toc#toc-dev-only ul {
        padding-left: 24px;
      }
      d-toc#toc-dev-only li {
        margin-bottom: -1.7em;
      }
    </style>
    <d-toc id='toc-dev-only'></d-toc>
  </nav>

  <p>
    This cites our <d-cite key="olah2017feature">Feature visualization</d-cite> article.
  </p>
  
  <h2 id='experiment-aligned'>Aligned Neuron Interpolation</h2>
  
  <p>
    As an introductory example, we explore how the <a href="https://distill.pub/2017/feature-visualization/#interpolation">aligned interpolation neuron visualizations</a> in <d-cite key="olah2017feature"></d-cite> are created.
    The motivation for a non-standard image parameterization comes from the desire to have the interpolation be visually aligned.
    Take this naive approach that simply optimizes each image independently for a linear combination of the two neurons:
  </p>
  <img src="images/interpolation-naive.jpg"/>
  
  <d-figure class="base-grid" id='AlignedInterpolationExamples'></d-figure>
  
  <h2 id='experiment-styletransfer'>Style Transfer on non-VGG architectures</h2>
  
  <p>
    Explanation
  </p>
  
  <d-figure class="base-grid" id='StyleTransferExamples'></d-figure>
  
  <h2 id='experiment-featureviz-rgba'>Feature Visualization with Transparency</h2>
  
  <h2 id='experiment-featureviz-3d'>Feature Visualization through a 3D Renderer</h2>
  
  <h2 id='experiment-styletransfer-3d'>Style Transfer through a 3D Renderer</h2>
  
  <h2 id='experiment-xy2rgb'>xy2rgb, a CPPN</h2>

</d-article>



<d-appendix>
  <h3>Acknowledgments</h3>
  <p>
    TODO: Thank all the people who have contributed somehow.
  </p>

  <h3>Author Contributions</h3>
  <p>
    TODO: List in detail who did what.
  </p>

  <d-footnote-list></d-footnote-list>
  <d-citation-list></d-citation-list>
</d-appendix>

<!-- bibliography will be inlined during Distill pipeline's pre-rendering -->
<d-bibliography src="bibliography.bib"></d-bibliography>

</body>
